@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.logo-img {
  position: relative;
  top: 5px;
  filter: brightness(140%) hue-rotate(50deg);
  transform: scale(125%);
}

.logo-text {
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
  margin-left: 5px;
}
