@charset "utf-8";

$colorScooter: #25c5d8;
$colorMalibu: #45E9FF;

$primary: $colorScooter;
$info: $colorMalibu;

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
$family-sans-serif: "Coming Soon", sans-serif;

$column-gap: 2em;