/* -------------------------------------------------------------------------- */
/*                     Note, title input and content input                    */
/* -------------------------------------------------------------------------- */

@import "../custom-bulma.scss";
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

/* ------------------------------- Idle styles ------------------------------ */
.note {
  padding: 0;
  box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);

  .note-title {
    font-size: 1.1em;
  }

  .note-content {
    font-size: 0.9em;
    resize: vertical;
    min-height: 3rem;
    height: 6rem;
  }

  .input {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  @media screen and(max-width: 768px) {
    width: calc(100% - 1.5em);
  }
}

/* ----------------------------- Hover animation ---------------------------- */
@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ------------------------------ Hover styles ------------------------------ */
.note:hover {
  box-shadow: 0 0 0.5em 0.2em rgba($link, 0.5);
  animation: 0.4s ease-in-out 0s 1 alternate shake;
}

.note {
  .note-title:hover {
    outline: 2px solid rgba($info-dark, 0.4);
  }

  .note-content:hover {
    outline: 2px solid rgba($info-dark, 0.4);
  }
}
