@import "../custom-bulma.scss";
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

$noteColor: #8AF9FF;

.note-board {
  margin-top: 3em;
  margin-bottom: 2em;

  @media screen and(max-width: 768px) {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

.note {
  padding: 0;
  // background-color: $noteColor;
  box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);

  .input {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .note-title {
  }

  .note-content {
    resize: vertical;
    min-height: 3rem;
    height: 6rem;
  }
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.delete-button {
  display: none;
  position: absolute;
  top: -0.5em;
  left: calc( 50% - 1em );
  z-index: 10;

  padding: 0;
  border-radius: 50%;
  border: none;
  width: 2em;
  height: 2em;
  transform: scale(120%);

  background-color: $danger;
  opacity: 50%;

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 160%;
    height: 160%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    // border: 1px solid green;
  }

  &:hover {
    display: block;
    transform: scale(150%);
    background-color: transparent;
    border: 1px solid $danger;
    opacity: 100%;
    border-radius: 0;
    transition: 0.12s ease-out;
  }
}

.note:focus-within {
  & + .delete-button {
    display: block;
  }
}

.note:hover {
  box-shadow: 0 0 0.5em 0.2em rgba($link, 0.5);
  animation: 0.4s ease-in-out 0s 1 alternate shake;
}

.note {
  .note-title:hover {
    outline: 2px solid rgba($info-dark, 0.4);
  }

  .note-content:hover {
    outline: 2px solid rgba($info-dark, 0.4);
  }
}

.note-column {
  position: relative;
}

.add-button {
  position: absolute;
  top: calc( 50% - 1em );
  z-index: 10;

  padding: 0;
  border-radius: 50%;
  border: none;
  width: 2em;
  height: 2em;
  transform: scale(120%);

  background-color: $info;
  opacity: 20%;

  &.add-button-first {
    left: -1em;
    // background-color: green !important; //debug

    @media screen and(max-width: 768px) {
      left: calc(50% - 1em);
      top: -1em;
    }
  }

  &.add-button-left:not(.add-button-first) {
    left: -1em;
    // background-color: red; //debug
    
    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  &.add-button-right {
    right: -1em;

    @media screen and(max-width: 768px) {
      left: calc(50% - 1em);
      top: auto;
      bottom: -1em;
    }
  }

  // @media screen and(max-width: 768px) {
  //   display: none;
  // }

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 160%;
    height: 160%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    // border: 1px solid green;
  }

  &:hover {
    transform: scale(150%);
    background-color: $noteColor;
    opacity: 100%;
    border-radius: 0;
    transition: 0.12s ease-out;
  }
}